#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

override_dh_auto_configure:
	$(overridden_command) -- -DBUILD_kimagemapeditor=OFF

override_dh_strip:
	$(overridden_command) --dbgsym-migration='kdewebdev-dbg (<= 4:15.08.3-1~)'

